*{
    box-sizing: border-box;
    margin: 0;
}

nav{
    background-color: #333;
    width: 100%;
    padding: 33px 100px;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(37, 37, 37, 0.219);
}

nav ul {
    list-style: none;
    display: flex;
    
}

nav ul li {
    padding: 30px 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;



}

nav .logo {
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-weight: bold;

}


ul li .active {
    background-color:#434544;
    color: #DEC9AE;
    padding: 22px 21px;
}

ul li a:hover {
    color: #DEC9AE;
 }


  #About {
    width: 100%;
    display: flex;
    
  }

  #About .hotel-r{
    width: 50%;
   

  }
  #About .hotel-l{
    width: 50%;
    text-align: center;
    padding: 50px;
  }

  #About .hotel-r img{
    width: 57%;
    height: 100%;
    border-radius: 50%;
  }
  #About .hotel-l h2 {
    color: rgba(5, 4, 4, 0.915);
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 30px;

  }

  #About .hotel-l h2 span{
    color: #F2BC8E;
    
    
 }
 #About .hotel-l p {
    color: #262c2d99;
    line-height: 21px;

 }



 #cards {
    background-image: url(../img/bacground);
    background-size: cover;
    padding: 27px 121px;
    

 }

 #cards h1 {
    text-align: center;
    color: rgb(148, 32, 32);
    font-size: 30px;
 }

 #cards .card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #78ed55;
    width: 50%;
    min-height: auto;

    
   
 }

 #cards .card img {
        width: 50%;
        height: 50%;
        border-radius: 50%;
     }


     




  



























































 footer{
    background-color: #444444;
    height: 98px;
    text-align: center;
    padding: 38px;
    color: white;
    font-size: 18px;
    
 }